<nav class="main-nav">
    {% if page.url != "/index.html" %}
        <a href="{{ site.baseurl }}"> <span class="arrow">←</span> Home </a>
    {% endif %}

    {% if page.url != "/about/" %}
        {% if site.aboutPage %}
            <a href="{{ site.baseurl }}about">About </a>
        {% endif %}
    {% endif %}
    <a class="cta" href="{{ site.baseurl }}feed.xml">Subscribe</a>
</nav>
<h1><i class="fa fa-graduation-cap  fa-3x"></i></h1>
<h1 id="hero-header"></i>Akademia Albania,<br><span class="subheader">ndiq nje pasion, fito nje profesion</span></h1>
<h2 id="hero-subheader">Fillo tani dhe meso diçka te re me ane te video tutorialeve dhe projekteve. Zgjidh midis nje sere <a target="_blank" href="http://newrelic.com/">kategorish</a>, gjej te ardhmen dhe mundesite e pasionit tend, perkushtoju dhe perfito nje aftesi, gjej pune dhe apliko per oferta, ne te gjithe boten.</h2>
<div class="media">
      <div class="media-left">
        <a href="#">
          <i class="fa fa-rocket fa-3x"></i>
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">Eksploro.</h4>
        <p>Zgjidh nga nje numer kategorish çfare deshiron te mesosh sot. Lexo informacione rreth kategorive te 
        	cilat kane nje treg me te gjere pune dhe mundesite e punesimit.<a target="_blank" href="http://newrelic.com/">Shiko kategorite</a></p>
      </div>
    </div>

<div class="media">
      <div class="media-left">
        <a href="#">
          <i class="fa fa-book fa-3x"></i>
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">Meso.</h4>
        <p>Praktika sjell perfeksion. Meso tani nje aftesi te re nepermjet video tutorialeve dhe puno me projekte praktike, bashkepuno me te tjere dhe jepi eksperience aftesive te tua. Ringjall pasionin per te mesuar nepermjet nje komuniteti qe te mbeshtet ne çdo hap. <a target="_blank" href="http://newrelic.com/">Fillo meso.</a></p>
      </div></p>
      </div>
    </div>

<div class="media">
      <div class="media-left">
        <a href="#">
          <i class="fa fa-check-square fa-3x"></i>
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">Apliko.</h4>
        <p>Mos e ler pasionin qe ke te zhduket per nje pune qe nuk te pershtatet. Sipas aftesive te perfituara ne Akademi, tani te ofrohet nje mundesi te nisesh nje aplikim, ne te gjithe boten, per mundesi dhe sfida te reja, per nje karriere dhe te ardhme me te mire.</p>
      </div>
    </div>

<div class="media">
      <div class="media-left">
        <a href="#">
          <i class="fa fa-briefcase fa-3x"></i>
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">Fito.</h4>
        <p>Meso, praktiko dhe zhvillo njohurite dhe aftesite e tua. Komuniteti i Akademia Albania te mbeshtet ne cdo hap deri ne aplikim dhe perfitimin e nje pune me aftesite e reja, pa asnje detyrim ndaj Akademise, pervec detyrimin ndaj vetes per permiresim.</p>
      </div>
    </div>
 
<div id="hero-bottom">
	<p>Akademia Albania eshte nje platforme edukimi per te gjithe, e gjitha ne Shqip dhe falas, pergjithmone!</p>
  <p><i class="fa fa-graduation-cap  fa-1x"></i></p>
</div>              